.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
}

.header {
  padding: var(--node-editor-inspector-space-sm) 0;
  display: grid;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: var(--node-editor-inspector-header-shadow);
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: var(--node-editor-inspector-content-padding);
  box-sizing: border-box;
}
