.section {
  /* Layout between sections is controlled by parent container using gap */
  /* Layout within section is controlled here */
  display: flex;
  flex-direction: column;
  gap: var(--node-editor-inspector-section-gap);
}

.section label {
  display: block;
  font-size: var(--node-editor-inspector-font-size-body);
  line-height: var(--node-editor-inspector-line-height-body);
  color: var(--node-editor-secondary-label-color);
}
