.textarea {
  width: 100%;
  padding: 3px 0.25em;
  border: var(--node-editor-input-border);
  border-radius: var(--node-editor-control-border-radius);
  font-size: var(--node-editor-inspector-font-size-body);
  line-height: var(--node-editor-inspector-line-height-body);
  background: var(--node-editor-control-background);
  color: var(--node-editor-text-color);
  box-sizing: border-box;
}

.textarea:focus {
  outline: none;
  border-color: var(--node-editor-accent-color);
}

.textarea:hover {
  border-color: var(--node-editor-separator-color);
}
